@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/AuthenticatedGreeting.css" />
    // <link rel="stylesheet" href="~/css/Index.css" />
}

<div class="greeting">
    <partial name="_Greeting" />
</div>


