html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

/*=====================================================================================================*/

/* Styles for the header navigation bar */



       /* .navbar .navbar-nav a, .navbar .nav-link a, .navbar .form-inline a {
            color: #ffffff !important;   
        }*/

.navbar .navbar-nav a:hover, .navbar .nav-link a:hover, .navbar .form-inline a:hover {
    color: #6CB2B0 !important;
}



.navbar-brand {
    width: 120px;
    height: 45px;
    background-image: url('/Images/i5.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    z-index: 1050;
    margin-right: auto;
    margin-top: 2px;
   
}



/* Styling for sidebar navigation links */
.sidebar .nav-link {
    color: white; /* Static text color */
    text-decoration: none; /* Remove underline from links */
    padding: 1rem 0.5rem; /* Add padding for better spacing */
    border-radius: 0.25rem; /* Optional: rounded corners for links */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align items */
    transition: color 0.3s ease; /* Smooth transition effect for text color */
    font-size: 16px;
    font-family: 'Arial';
    font-weight: normal;
    margin-top: 20px; /* Adjust this value to move nav links down */
}

/* Icon styling */
.nav-icon {
    width: 21px; /* Set icon size */
    height: 21px; /* Set icon size */
    margin-right: 8px; /* Adjust spacing between icon and text */
    vertical-align: middle; /* Align icon with text */
    object-fit: contain; /* Ensure icons fit within the specified dimensions */
    transition: opacity 0.3s ease;
    margin:0px 13px 0px 0px;
}


    /* Styling for active navigation link */
.sidebar .nav-link.active {
    color: #6CB2B0 !important; /* Text color for the active link */
}

    /* Styling for navigation link on hover */
.sidebar .nav-link:hover {
    color: #6CB2B0; /* Text color on hover */
    background-color: transparent; /* No background color on hover */
}





